* {
  text-decoration: none;
  box-sizing: border-box;
  text-align: inherit;
}

.cardInfoOa {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  overflow-x: hidden;
}

.cardBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
  height: 300px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.cardInfoImage {
  width: 35%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
  padding: 1rem;
  text-align: left;
  font-family: "Montserrat";
}

.cardInfoTitle {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.cardInfoArea,
.cardInfoCategory {
  color: hsl(0, 0%, 40%);
}

.cardBoxLink {
  display: block;
  width: 100%;
  text-decoration: none;
}

.cardBox:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: #a88f00;
  color: white;
}

.heartIconWrapper {
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 10;
}

.likes {
  font-size: 2rem;
  color: #b23a2c;
  transition: color 0.3s ease;
}

.likes:hover {
  color: white;
}

.message {
  color: red;
  font-family: "Montserrat";
  opacity: 0;
  position: absolute;
  top: 1rem;
  right: 3.5rem;
  transition: opacity 0.3s ease-in-out;
}

.message.show {
  animation: fadeInOut 3s forwards;
}

.length {
  position: absolute;
  color: white;
  font-size: 1rem;
  right: 4rem;
  top: 1rem;
}

.category {
  display: inline;
}

.category:hover {
  text-decoration: underline;
}

.categoryLink {
  color: hsl(0, 0%, 40%);
}

.categoryLink:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .cardInfoOa {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media (max-width: 412px) {
  .cardBox {
    height: auto;
  }
}

@media (max-width: 400px) {
  .cardBox {
    flex-direction: column;
    height: auto;
    padding: 0.5rem;
  }

  .cardInfoImage {
    width: 100%;
    height: 200px;
    margin-bottom: 0.5rem;
  }

  .cardInfo {
    width: 100%;
    padding: 0.5rem;
  }

  .cardInfoTitle {
    font-size: 1.5rem;
  }

  .heartIconWrapper {
    top: 0.5rem;
    right: 0.5rem;
  }

  .message {
    top: 0.5rem;
    right: 2rem;
    font-size: 0.8rem;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}
