* {
  text-decoration: none;
}

.cardInfoImage {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.cardInfoOa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: none;
  color: #241d18;
}

.cardBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.cardBoxLink {
  width: calc(50% - 2rem); /* Match the width of cardBox */
  display: block;
  text-decoration: none;
}

.cardInfoTitle {
  font-size: 2.5rem;
  font-weight: 600;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.cardInfo * {
  margin-left: 1rem;
  font-family: "Montserrat";
}

.cardInfoArea,
.cardInfoCategory {
  color: hsl(0, 0%, 40%);
}

.cardBox:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  background-color: #a88f00;
  color: white;
}

.cardBox:hover .cardInfoTitle,
.cardBox:hover .cardInfoArea,
.cardBox:hover .cardInfoCategory {
  color: white;
}
@media (max-width: 1024px) {
  * {
    text-decoration: none;
  }

  .cardInfoImage {
    width: 300px;
    height: 300px;
    border-radius: 5px;
  }

  .cardInfoOa {
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    text-decoration: none;
    color: #241d18;
  }

  .cardBox {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
    border-radius: 30px;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
  }

  .cardBoxLink {
    display: block;
    text-decoration: none;
  }

  .cardInfoTitle {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .cardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .cardInfo * {
    margin-left: 1rem;
    font-family: "Montserrat";
  }

  .cardInfoArea,
  .cardInfoCategory {
    color: hsl(0, 0%, 40%);
  }

  .cardBox:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    background-color: #a88f00;
    color: white;
  }

  .cardBox:hover .cardInfoTitle,
  .cardBox:hover .cardInfoArea,
  .cardBox:hover .cardInfoCategory {
    color: white;
  }
}
@media (max-width: 412px) {
  .cardBoxLink {
    width: auto;
  }
}
@media (max-width: 344px) {
  .cardInfoImage {
    width: 250px;
    height: 250px;
  }
  .cardBoxLink {
    width: 100%;
  }
}
