* {
}
.categoriesTitle {
  color: #a88f00;
  padding: 2rem;
  font-size: 8rem;
  text-align: center;
  font-family: "Playfair Display SC", serif;
  font-weight: 200;
  color: white;
  letter-spacing: 4px;
}

.categorySubtitle {
  font-family: "Montserrat";
  max-width: 70%;
  margin-inline: 2rem;
  line-height: 1.5;
  margin-bottom: 13rem;
  border-radius: 100px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}
.filterByArea {
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat";
  letter-spacing: 4px;
  color: #241d18;
  margin: 6rem 5rem 0rem;
}
.Areas li {
  font-family: "Montserrat";
  display: inline-block;
  margin: 1rem;
}
.Areas {
  text-align: center;
  margin: 0 auto;
}
.Areas li:hover {
  transition: 0.3s ease-in-out;
  letter-spacing: 5px;
  cursor: pointer;
}
.Areas li a {
  color: #241d18;
}
.Areas li a:hover {
  color: #a88f00;
}
.image2 {
  background-image: url("../assets/frenchfries3.jpg");
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white overlay */
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  color: #333; /* Dark grey text color */
}
.categories2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  flex-direction: column;
}
.foodtitle {
  font-family: "Montserrat";
  font-size: 0.7rem;
  position: relative;
  color: white;
  top: 5rem;
  font-weight: 600;
  text-transform: capitalize;
}
.uiImprovement {
  color: white;
  font-family: "Playfair Display SC";
  font-weight: 500;

  position: absolute;
  top: 6rem;
  left: 2rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.barcode {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 5.7rem;
  right: 2rem;
  text-align: right;
  color: white;
  font-family: "Playfair Display SC";
  font-size: 1rem;
}
.heroText {
  background-color: rgba(0, 0, 0, 0.3);
  height: 90vh;
}
.subtitleCategories {
  color: white;
  font-family: "Montserrat";
  position: relative;
  bottom: 3rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 400;
}
