.recepieOa h2 {
  margin-top: 2rem;
  font-family: "Playfair Display SC";
  text-align: center;
  color: #241d18;
  font-size: 3rem;
}

.recepieFlex {
  display: flex;
  margin: 3rem;
  justify-content: space-evenly;
  font-family: "Montserrat";
}

.recepieImage {
  width: 600px;
  height: 600px;
  border-radius: 25px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.recepieInstructionsTitle {
  font-size: 2.5rem;
  font-family: "Montserrat";
}

.InstructionsOa {
  margin-left: 2em;
  font-family: "Montserrat";
}

.Instructions {
  margin-top: 5rem;
  text-align: left;
  max-width: 700px;
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.ingredientsList {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-y: auto;
  gap: 1rem;
}

.ingredientsList dt,
.ingredientsList dd {
  width: 50%;
  box-sizing: border-box;
  padding: 2px 10px;
  margin: 0;
}

.ingredientsList dt {
  font-weight: bold;
  margin-top: 1rem;
}
.labelIngredients {
  margin-bottom: 0.5rem;
}
.videoTitle {
  margin-top: 2rem;
  font-family: "Montserrat";
  font-size: 1.5rem;
}
.foodInfo div {
  display: inline-block;
}
.infoElement {
  font-family: "Montserrat";
  margin: 1rem;
}
.infoLink {
  color: #7d6b01;
}
.sourcetitle {
  font-size: 1.3rem;
  font-family: "Montserrat";
  margin: 1rem 0rem;
  text-align: center;
}
.sourcelink {
  margin-left: 6.5rem;
  font-family: "Montserrat";
  text-align: center;
}
.label {
  margin-bottom: 4px;
}
.labelfor {
  margin-left: 1rem;
}
.videoLink {
  font-family: "Montserrat";
}
.likes {
  font-size: 2rem; /* Adjust size to fit design */
  color: #b23a2c; /* Adjust color if needed */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.likes:hover {
  color: black;
}
.likes {
  position: relative;
  display: block;
  top: 4rem;
}

.instructionsTitle {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 700;
}
/* Base styles (default for larger screens, > 1150px) */

/* Media query for screens smaller than 1150px */
@media (max-width: 1106px) {
  .recepieOa h2 {
    font-size: 2.5rem;
  }

  .recepieFlex {
    margin: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .recepieImage {
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
  }

  .recepieInstructionsTitle {
    font-size: 2.2rem;
  }

  .Instructions {
    font-size: 1.1rem;
  }
  .ingredientsList {
    max-height: 250px;
  }
  .likes {
    top: 7rem;
  }
}

/* Media query for screens smaller than 950px */
@media (max-width: 950px) {
  .recepieOa h2 {
    font-size: 2.2rem;
  }

  .recepieFlex {
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
  }

  .recepieImage {
    width: 450px;
    height: 450px;
  }

  .InstructionsOa {
    margin-left: 0;
    margin-top: 2rem;
  }

  .recepieInstructionsTitle {
    font-size: 2rem;
    text-align: center;
  }

  .Instructions {
    font-size: 1rem;
  }

  .ingredientsList {
    max-height: 200px;
  }
}

/* Media query for screens smaller than 750px */
@media (max-width: 750px) {
  .recepieOa h2 {
    font-size: 2rem;
  }

  .recepieFlex {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  .recepieImage {
    width: 400px;
    height: 400px;
  }

  .Instructions {
    font-size: 0.9rem;
  }

  .ingredientsList {
    max-height: 150px;
  }
  .likes {
    top: 11.5rem;
  }
}

/* Media query for screens smaller than 550px */
@media (max-width: 550px) {
  .recepieOa h2 {
    font-size: 1.8rem;
  }

  .recepieFlex {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  .recepieImage {
    width: 350px;
    height: 350px;
  }

  .recepieInstructionsTitle {
    font-size: 1.8rem;
  }

  .Instructions {
    font-size: 0.85rem;
  }

  .ingredientsList {
    max-height: 120px;
  }
  .likes {
    top: 18.5rem;
  }
}

/* Media query for screens smaller than 400px */
@media (max-width: 480px) {
  .recepieOa h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .recepieFlex {
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
  }

  .recepieImage {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 15px;
    position: relative;
  }

  .InstructionsOa {
    margin-top: 1rem;
    text-align: center;
  }

  .recepieInstructionsTitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .Instructions {
    font-size: 0.8rem;
    max-width: 100%;
    margin-top: 1rem;
  }

  .ingredientsList {
    gap: 0.5rem;
    max-height: none;
  }

  .videoTitle {
    font-size: 1.2rem;
  }

  .sourcetitle,
  .sourcelink {
    margin-left: 0;
  }
  .sourcelink {
    font-size: 0.7rem;
    position: absolute;
  }
  .likes {
    font-size: 1.5rem;
    top: 6.7rem;
  }
  .ingredientsList {
    display: grid;
    margin-bottom: 6rem;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .recepieInstructionsTitle {
    margin-top: 5rem;
  }
}

/* Media query for screens smaller than 330px */
@media (max-width: 330px) {
  .recepieOa h2 {
    font-size: 1.3rem;
  }

  .recepieFlex {
    flex-direction: column;
    align-items: center;
    margin: 0.3rem;
  }

  .recepieImage {
    width: 100%;
    height: auto;
    max-width: 280px;
    border-radius: 10px;
  }

  .InstructionsOa {
    margin-top: 0.5rem;
  }

  .recepieInstructionsTitle {
    font-size: 1.3rem;
  }

  .Instructions {
    font-size: 0.7rem;
  }

  .ingredientsList {
    gap: 0.3rem;
  }
  .videoTitle {
    font-size: 1rem;
  }

  .sourcetitle,
  .sourcelink {
    font-size: 0.9rem;
  }
  .sourcelink,
  .videoLink {
    font-size: 0.7rem;
    max-width: 300px;
  }

  .likes {
    font-size: 1.3rem;
    top: 7rem;
  }
}
