.recepieOa h2 {
  margin-top: 2rem;
  font-family: "Playfair Display SC";
  text-align: center;
  color: #241d18;
  font-size: 3rem;
}

.recepieFlex {
  display: flex;
  margin: 3rem;
  justify-content: space-evenly;
  font-family: "Montserrat";
}

.recepieImage {
  width: 600px;
  height: 600px;
  border-radius: 25px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.recepieInstructionsTitle {
  font-size: 2.5rem;
  font-family: "Montserrat";
}

.InstructionsOa {
  margin-left: 2em;
  font-family: "Montserrat";
}

.Instructions {
  margin-top: 5rem;
  text-align: left;
  max-width: 700px;
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.ingredientsList {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-y: auto;
  gap: 1rem;
}

.ingredientsList dt,
.ingredientsList dd {
  width: 50%;
  box-sizing: border-box;
  padding: 2px 10px;
  margin: 0;
}

.ingredientsList dt {
  font-weight: bold;
  margin-top: 1rem;
}
.labelIngredients {
  margin-bottom: 0.5rem;
}
.videoTitle {
  margin-top: 2rem;
  font-family: "Montserrat";
  font-size: 1.5rem;
}
.foodInfo div {
  display: inline-block;
}
.infoElement {
  font-family: "Montserrat";
  margin: 1rem;
}
.infoLink {
  color: #7d6b01;
}
.sourcetitle {
  font-size: 1.3rem;
  font-family: "Montserrat";
  margin: 1rem 0rem;
  text-align: center;
}
.sourcelink {
  margin-left: 6.5rem;
  font-family: "Montserrat";
  text-align: center;
}
.label {
  margin-bottom: 4px;
}
.labelfor {
  margin-left: 1rem;
}
.videoLink {
  font-family: "Montserrat";
}
.likes {
  font-size: 2rem; /* Adjust size to fit design */
  color: #b23a2c; /* Adjust color if needed */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.likes:hover {
  color: black;
}
.likes {
  position: relative;
  display: block;
  top: 4rem;
}
